{% extends 'main/base.html' %} 
{% load humanize %}
{% block content %}
<div class="container-fluid text-center">
    <div class="container text-white">
        <div class="row py-5 g-5">
            <div class="col-md-4">
                <div class="card bg-danger">
                    <div class="card-body">
                        <h5 class="display-4 mb-5">Books</h5>
                        <h1> {{ books | intcomma}} </h1>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card bg-success">
                    <div class="card-body">
                        <h5 class="display-4 mb-5">Creators</h5>
                        <h1> {{ creators | intcomma }} </h1>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card bg-primary">
                    <div class="card-body">
                        <h5 class="display-4 mb-5">Bookshelves</h5>
                        <h1> {{ bookshelves | intcomma }} </h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="row py-5 g-5">
            <div class="col-md-4">
                <div class="card" style="background-color:#ad6cd5;">
                    <div class="card-body">
                        <h5 class="display-4 mb-5">Subjects</h5>
                        <h1> {{ subjects | intcomma }} </h1>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card bg-secondary">
                    <div class="card-body">
                        <h5 class="display-4 mb-5">Resources</h5>
                        <h1> {{ resources | intcomma }} </h1>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card" style="background-color:#8d8847;">
                    <div class="card-body">
                        <h5 class="display-4 mb-5">Languages</h5>
                        <h1> {{ languages | intcomma }} </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h3 class="mx-auto pt-5">Play with the API</h3>
    <p class="mx-auto lead">
        Use the available browseable API to quickly prototype, or view the documentation.
    </p>
    <div class="p-5">
        <a href="{% url 'api:index' %}" class="btn btn-lg btn-primary m-1"><i class="fas fa-book"></i> &nbsp; Browseable API</a>
        <a href="{% url 'main:docs' %}" class="btn btn-lg btn-primary m-1"><i class="fas fa-book"></i> &nbsp; Documentation</a>
    </div>
</div>
{% endblock %}